/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */
* {
  margin: 0;
  overflow-y: unset;
}
.table {
  border-collapse: collapse;
  height: 85vh;
  
}
.table th, .table td {
 
  text-align: center;
 border: 0.25vh solid whitesmoke;
}
.table th {
 height: 5vh;
  color: rgb(252, 252, 252);
  grid-area: table;
  
}
thead {
  background-color: rgb(86, 90, 89);
}
body {
 
  background-color: rgba(0, 0, 0, 0.993);
  
  background-image: url(img/img2.jpg);
  background-position: center;
  background-size: contain;
}

td {
  color: rgb(7, 247, 255);
}
form {
 width: 100%;
 height: 10vh;
 background-color: brown;
 padding-bottom: 3vh;
 display: flex;
flex-wrap: wrap;

}
.pesquisa {
  position: relative;
  width: 340px;
  height: 35px;
  margin: 4px 12px 5px 12px;
}

.pesquisa input {
  box-sizing: border-box;
  padding-left: 40px;
  width: 340px;
  height: 35px;
  outline: none;
  border: 1px solid black;
  border-radius: 12px;
}
.search {
  position: absolute;
  font-size: 1.5rem;
 bottom: 0;
 left: 2%;
}

.population-01 {
  margin: 6px 12px 5px 12px;
}
.population-01 select {
  width: 140px;
  height: 30px;
}

.population-02 {
  margin: 6px 12px 5px 12px;
}
.population-02 select {
  width: 140px;
  height: 30px;
}
.number {
  margin: 6px 12px 5px 12px;
}
.number input {
  width: 120px;
  height: 30px;
}


.lixeira {
  background-color: transparent;
  border: none;
  font-size: 21px;
  color: rgb(255, 0, 0);
}
#root {
overflow-y: hidden;
position: "relative"
}

.filtrar {
  margin: 10px 12px 5px 12px;
}
.filtrar button {
width: 130px;
height: 30px;
border-radius: 15px;
background-color: darkgrey;
}
.filtrar button:active {
  background-color: chartreuse;
}


.remover {
  margin: 10px 12px 5px 12px;
}
.remover button {
width: 130px;
height: 30px;
border-radius: 15px;
background-color: darkgrey;
}
.remover button:active {
 
}
.ordem {
  width: 700px;
  margin-left: 60px;
  position: relative;
}
 .ordem label {
  margin: 0 8px;
  font-size: 1.2rem;
}
.ordem select {
  width: 140px;
  height: 30px;
}

.ordem button {
  width: 130px;
height: 30px;
border-radius: 15px;
background-color: darkgrey;
}

.ordem button:active {
  background-color: chartreuse;
}

.ordem input {
  background-color: rgb(4, 255, 0);
}

.ordem button {
position: absolute;
left: 105%;

}
/* @media (max-width: 400px) { 
  #root {
    display: grid;
  }
  .table {
    overflow-x: auto;
  }
  form {
   flex: 1;
  }
 } */
 .title {
  background-color: brown;
 }